@import '../../globals';

.main-content-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: start;
}

// .results-container {
// 	padding: 15px;
// }

.results {
	width: calc(80% - 60px);
	margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.slide-container {
	position: relative;
	width: 20%;
	margin: 15px;
	
}

.left-menu-container {
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 1050px) {

	.results {
		width: 90%;
		margin: 15px auto;
	}

	.left-menu-container {
    	padding: 15px;
		position: initial;
	}	

	.left-menu-container h2 {
		display: none;
	}

	.slide-container {
		width: 90%;
		margin: 15px auto;
		max-width: initial;
	}

}

@media screen and (max-width: 700px) {
	
	.results {
		padding: 0 !important;
	}
}

//------------------------------ mobile -----------------------

.nav-mobile {
	div {
		.md-icon-separator {
			text-align: center;
		}
		width: 100%;
	}
	button {
		width: 100%;
	}
}



