@import '../../globals';
@import '../Works/works.scss';


#expandedInfoCard { 
	
	.float {
		height: 200px !important;
	}

	.centering {
		width: 60% !important;
		height: initial !important;
		margin: 15px auto;
	}
	

	.imgs-container {
		.img {
			margin: 10px 0;
			min-width: 300px;
			width: 30%;
		    height: 200px;
		}
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: space-around;
		align-items: center;
		margin: 15px 0;
	}

	h1 {
		margin: 20px 0 !important;
	}

	h2 {
		width: 80%;
		margin: 0px 15px !important;
		color: white !important;
		overflow: hidden;
	}

	p {
		margin: 0 15px;
	}

	.heading-3 {
		margin: 15px;
	    font-size: 16pt;
		color: $md-primary-color;
	}
	
	a {
		text-decoration: none;
		color: $md-primary-color;
	}
	background: $md-blue-grey-200;
}

.paper-item-expanded {
	margin: 100px auto;
	padding: 15px;
	background: white;
}

.steps-list {
	list-style-type: decimal;
}

.embedded-video {
	width: 50%;
	height: 300px;
	margin: 20px 25%;
}

.stripes-container {
    width: calc(100% + 30px) !important;
    margin: 0 -15px -15px;
}

@media screen and (min-width: 1000px) {
	.paper-item-expanded {
		width: 1000px;
		margin: 100px auto;
		padding: 15px;
	}

}

@media screen and (max-width: 800px) {
	.embedded-video {
		width: 100%;
		margin: 0;
	}	
}
//----------------------- mobile ---------------------

.paper-item-expanded-mobile {
	margin: 100px 0;
	padding: 15px;
	background: white;
}