@import '../../globals';

.filter-container {
	position: relative;
	width: 20%;
	margin: 15px;
	
}

.filter {
    position: absolute;
    width: 100%;
    padding: 15px;
}

@media screen and (max-width: 1050px) {
	.filter {
		position: initial;
	}	

	.filter h2 {
		display: none;
	}

	.filter-container {
		width: 90%;
		margin: 15px auto;
		max-width: initial;
	}
}