@import '../../globals';

.header {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo {
  height: 60px;
}

.phone-number {
  margin: 15px;
  text-decoration: none;
  color: $md-primary-color;
}

.phone-number:hover {
  color: $md-secondary-color;
}

.space-around {
  margin: 20px;
}



.slider-image-placeholder {
  margin-bottom: -5px;
}

.slider-image {
  width: 100%;
}

.slider-button {
  width: 50%;
  height: 50px !important; 
  margin: 0 !important;
}

@media screen and (min-width: 600px) {
  .slider-button {
    width: 25%;
  }
}

