@import '../../globals';


#works {
	.image-placeholder {
		overflow: hidden;
		float: right;
		margin: 20px 0;
		padding: 5px;
	  width: 100%;
	  img {
	  	width: 100%;
	  }
	}

	.clear {
		overflow: auto;
	}

}

@media screen and (min-width: 540px) {
	#works {
		.image-placeholder {
		  float: right;
		  margin: 20px !important;
		  padding: 5px !important;
		  width: initial !important;
		  img {
		    width: 300px;
		  }
		}
	}
}
// see extendedInfoCard.scss