

#profileTypes {

	.wrapper {
		padding: 10px;
    	margin: 10px 0;
	}

	.image-wrapper {
    	display: flex;
    	flex-wrap: wrap;
    	justify-content: space-around;
		
		img {
			margin: 10px 0;
			height: 180px;
		}
	}

}

@media screen and (max-width: 600px) {
	#profileTypes {
		.image-wrapper {
			img {
				width: 100%;
				height: 25%;
			}
		}
	}
}

//----------------- mobile --------------------------
#profileTypes {

	.wrapper-mobile {
		width: calc(100% + 47px);
	    padding: 10px;
	    margin: 10px -23px;
	}
}